@model Agenda.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar conta</h1>

<h1>Tem certeza que deseja deletar sua conta, <strong>@Model.Name</strong>?</h1>

<div>
    <h4>Contato</h4>
    <hr />
    <dl class="list-inline-item">
        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-group bg-info" asp-action="Index">Voltar</a>
    </form>
</div>